html,body {
    display: table;
    width: 100%;
    height: 100%;
    border-color: #17fb17;
    position: relative;    
    /*overflow-y: auto; Asegura que el desplazamiento vertical esté habilitado */
}

.overlay {
    color: white;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: #23120B;
    border-radius: 30px;
    overflow-y: auto;
}

.overlay2 {
    width: -webkit-fill-available;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: #23120B;
    width: -moz-available;
}

.overlay3 {
    width: -webkit-fill-available;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    background: #939c9b;
    width: -moz-available;
    overflow-y: auto; /* Asegura que el desplazamiento vertical esté habilitado */
}


.overlay4 {
    width: -webkit-fill-available;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    background: #939c9b;
    width: -moz-available;
}

.containerxeath {
    width: 24em;
    height: 24em;
    position: relative; /* static */
    background: #0588e4 url(./bg.png);
    background-size: cover;
    box-shadow: inset 0 0 3em;
    border-radius: 50%;
    transition: all .5s ease;
    animation: earth 60s linear infinite;
    z-index: 2;
    top: 25em; /* Ajusta este valor según tus necesidades margin-top: ; */
    
    
}



.starlight i {
    position: absolute;
    background-color: #0aff70;
    border-radius: 50%;
    opacity: 0.8;
    /*box-shadow: 0 0 10px #cc0606, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;*/
    animation: star_animation 3s linear infinite;
}


@keyframes earth {
    0% {
        background-position: 0 0;
        transform: translateX(100vw);
    }

    100% {
        background-position: 100vw 0;
        transform: translateX(-100vw);
    }
}

@keyframes star_animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(-2px);
    }
}

@keyframes rocket_move {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(100vw);
    }
}

.rocket,
.rocket2,
.rocket3,
.rocket4,
.rocket5 {
    position: relative;
    font-size: 2em;
    animation: animate 20s ease infinite, rocket_move 60s linear infinite;
}

.rocket::before {
    z-index: 3;
    content: '';
    position: absolute;
    bottom: -5em;
    left: -2.25em;
    width: 10px;
    height: 200px;
    background: linear-gradient(#80FFDB, transparent);
    transform: translateY(-40%) rotate(90deg);
}

.rocket2::before {
    z-index: 3;
    content: '';
    position: absolute;
    bottom: -5em;
    left: -2.25em;
    width: 10px;
    height: 200px;
    background: linear-gradient(#00ffd0, transparent);
    transform: translateY(-40%) rotate(90deg);
}

.rocket3::before {
    z-index: 3;
    content: '';
    position: absolute;
    bottom: -5em;
    left: -2.25em;
    width: 10px;
    height: 200px;
    background: linear-gradient(#FFFF00, transparent);
    transform: translateY(-40%) rotate(90deg);
}

.rocket4::before {
    z-index: 3;
    content: '';
    position: absolute;
    bottom: -5em;
    left: -2.25em;
    width: 10px;
    height: 200px;
    background: linear-gradient(#ff0d0d, transparent);
    transform: translateY(-40%) rotate(90deg);
}

.rocket5::before {
    z-index: 3;
    content: '';
    position: absolute;
    bottom: -5em;
    left: -2.25em;
    width: 10px;
    height: 200px;
    background: linear-gradient(#01eaff, transparent);
    transform: translateY(-40%) rotate(90deg);
}

/* Ajuste de duración específica para cada variante */
.rocket2 {
    animation: animate 50s ease infinite, rocket_move 55s linear infinite;
    bottom: -6em;

}

.rocket3 {
    animation: animate 20s ease infinite, rocket_move 45s linear infinite;
    bottom: 4em;
}

.rocket4 {
    animation: animate 20s ease infinite, rocket_move 40s linear infinite;
    bottom: -5em;
}

.rocket5 {
    animation: animate 20s ease infinite, rocket_move 35s linear infinite;
    bottom: -5em;
}

.rocket-pp {
    z-index: 3;
    position: relative;
}